

body{
    
    
    margin: 20px;
    background-image:url(/imgs/bg_foto.jpg);
    background-size: 100%;
    
    padding:35px;
}


 figure{
     
     margin-left: 200px;
     height: 150px;
     width: 150px;
     
 }   


p{
    font-size: large;
    text-align: center;
    
    
}

h1,h2{
    background-image: url(/imgs/h1_foto.png);
    margin-left:auto;
    margin-right:auto;
    text-align: center;
    padding-left: 60px;
    padding-right: 60px;
    border-bottom: solid black 2px;
    
}


#logos{
    float: right;
    

}

#danilofoto{
    
    float: left;
    margin: 5px;
    border: solid 3px black;
}



#uldiff{
    padding-left: 30px;
}
li{
    padding-right: 50px;
}

#daniloinfo{
    font-size: large;
    margin-right: 5px ;
    background-color:    rgba(250, 248, 234, 0.548);
    border: black 5px solid;
    
}

#formacao{
    margin-bottom: 20px;
    margin-top: 20px;
    margin-right: 30px;
    background-color: rgba(250, 248, 234, 0.548);
    border: black 5px solid;
    float: top;
    float: left;
    
}

#uldiff{
    margin-left: 0px;


}

#cursos{
    font-size:101% ;
    
    float:left;
    background-color: rgba(250, 248, 234, 0.548);
    border: black 5px solid;
    margin-top: 50px;


}